body {
  padding: 2rem;
  background-color: #f8f9fa;
}

section {
  margin-bottom: 4rem;
}

h2 {
  margin: 2rem 0 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}
.wrapper-123 {
  width: 600px;
  height: 700px;
  background-color: aquamarine;
}